<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" >
        var name ='fanus'
        var age ='28'
        alert(`welcome Mr ${name} and i am ${age}`)
        console.log(`${name}`)
        var car = 'tesla'
        var area
        console.log(`the value of car ${typeof car}`)
        console.log(`the value of car ${typeof area}`)
        var person= {'name':'fanus',
                     'age': 15,
                     'Country':'Eritrea',
                     'Address':{ 'street': 'wilhelm',
                                 'City':'Asmara',
                                 'zipcode':187}
                                 }
        console.log(person)
        console.log(`${person}`)
    </script>
</head>
<body>
    <h1>Learning JS </h1>

    <div>
        Username
        <input type="text" th:field="${user.username}">
    </div>
    <div>
        userpassword
        <input type="password" th:field="${user.password}">
    </div>
</body>
</html>