<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" >
        alert('Welcome to JS')
        var name ='fanus'
        var age ='28'
        alert(`welcome Mr ${name} and i am ${age}`)
        console.log(name)
    </script>
</head>
<body>
    <h1>Learning JS </h1>

    <div>
        Username
        <input type="text" th:field="${user.username}">
    </div>
    <div>
        userpassword
        <input type="password" th:field="${user.password}">
    </div>
</body>
</html>